<!-- Custom and plugin javascript -->
<script src="http://www.ndesig.com:3031/js/inspinia.js"></script>
<script src="http://www.ndesig.com:3031/js/pace.min.js"></script>
<script src="http://www.ndesig.com:3031/js/common.js"></script>
</body>
</html>