<!DOCTYPE html>
<!-- saved from url=(0044)http://webapplayers.com/inspinia_admin-v2.1/ -->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %> | Dashboard</title>

  <link href="http://www.ndesig.com:3031/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://www.ndesig.com:3031/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Toastr style -->
  <link href="http://www.ndesig.com:3031/css/plugins/toastr/toastr.min.css" rel="stylesheet">

  <!-- Gritter -->
  <link href="http://www.ndesig.com:3031/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

  <link href="http://www.ndesig.com:3031/css/animate.css" rel="stylesheet">
  <link href="http://www.ndesig.com:3031/css/style.css" rel="stylesheet">

  <!-- Mainly scripts -->
  <script async="" src="http://www.ndesig.com:3031/js/analytics.js"></script>
  <script src="http://www.ndesig.com:3031/js/jquery-2.1.1.js"></script>
  <script src="http://www.ndesig.com:3031/js/bootstrap.min.js"></script>
  <script src="http://www.ndesig.com:3031/js/jquery.metisMenu.js"></script>
  <script src="http://www.ndesig.com:3031/js/jquery.slimscroll.min.js"></script>
  <script src="http://www.ndesig.com:3031/js/plugins/toastr/toastr.min.js" ></script>
</head>
	  