
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span> <img alt="image" class="img-circle" src="../img/profile_small.jpg" /> </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="http://webapplayers.com/inspinia_admin-v2.1/#"> <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="http://webapplayers.com/inspinia_admin-v2.1/profile.html">Profile</a></li>
                        <li><a href="http://webapplayers.com/inspinia_admin-v2.1/contacts.html">Contacts</a></li>
                        <li><a href="http://webapplayers.com/inspinia_admin-v2.1/mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active"> <a href="./"><i class="fa fa-home"></i> <span class="nav-label">My Home</span></a></li>
            <li> <a href="./"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Stock</span></a></li>
            <li> <a href="./file"><i class="fa fa-file"></i> <span class="nav-label">File Manage</span></a></li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i>
                    <span class="nav-label">Settings</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false">
                    <li><a href="./sys">System Setting</a></li>
                    <li><a href="./sys">User Setting</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
